<div class="row">
    <div class="col-xs-12">
        <h1>Village</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">

    </div>
    <div class="col-xs-4">
        <ul>
            <li>
                <button class="btn btn-default">Forest</button>
            </li>
            <li>
                <button class="btn btn-default">Cave</button>
            </li>
            <li>
                <button class="btn btn-default">Tower</button>
            </li>
        </ul>
    </div>
</div>